In [51]:
# Importar las bibliotecas necesarias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from imblearn.over_sampling import SMOTE

In [66]:
original_data = pd.read_csv('datosLimpios.csv')
original_data.head()

,year,suicides_no,population,suicides/100k pop,gdp_for_year,gdp_per_capita,age_15-24,age_25-34,age_35-54,age_5-14,...,country_Thailand,country_Trinidad and Tobago,country_Turkey,country_Turkmenistan,country_Ukraine,country_United Arab Emirates,country_United Kingdom,country_United States,country_Uruguay,country_Uzbekistan
0,1987,21,312900,6.71,2.156625e+09,796.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,1987,16,308000,5.19,2.156625e+09,796.0,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,1987,14,289700,4.83,2.156625e+09,796.0,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,1987,1,21800,4.59,2.156625e+09,796.0,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,1987,9,274300,3.28,2.156625e+09,796.0,False,True,False,False,...,False,False,False,False,False,False,False,False,False,False

In [67]:
# Separar las características y la variable objetivo
X = original_data.drop('suicides/100k pop', axis=1)
y = original_data['suicides/100k pop']

In [68]:
# Definir los intervalos y etiquetas para categorizar la variable objetivo
bins = np.linspace(0, 224.97, 6)
labels = [1, 2, 3, 4, 5]

# Crear una copia de la variable objetivo categorizada
y_binned = pd.cut(y, bins, labels=labels, include_lowest=True)

In [69]:
# quiero ver cuantos datos hay en cada categoría. Es decir, cuantas x para cada y. 
y_binned.value_counts()

suicides/100k pop
1    26154
2     1365
3      267
4       29
5        5
Name: count, dtype: int64

In [73]:
# usar SMOTE para balancear las categorías, n_neighbors = 5
smote = SMOTE(sampling_strategy='auto', k_neighbors=4, random_state=42)
X_resampled, y_resampled = smote.fit_resample(X, y_binned)

In [74]:
# Crear un DataFrame con las características balanceadas
data_resampled = pd.concat([X_resampled, y_resampled], axis=1)
data_resampled['suicides/100k pop'].value_counts()

suicides/100k pop
1    26154
2    26154
3    26154
4    26154
5    26154
Name: count, dtype: int64

In [76]:
# Guardar los datos balanceados en un archivo CSV
data_resampled.to_csv('datosBalanceados.csv', index=False)